
/* ------------cart items-------------- */
.cart-page{
    margin: 80px auto;
    margin-bottom: 10rem;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #7400b8;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}td a{
    color: #7400b8;
    font-size: 12px;
    text-decoration:none ;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #7400b8;
    width: 100%;
    max-width: 405px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.shop{
    margin-top: 10rem;
    margin-bottom: 15rem;
}
