.ed-fm{
    display: grid;
    grid-template-columns: 50% 50%;
}
.fm-ed{
    background:#dee2e6;
    padding: 1.6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2rem;
}